<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for using the Aptiv batch rater!</h1>
    <p>
      Your request has been processed and the results are ready for pickup.
    </p>
    <p>
      To download your rates just follow this link: <%= @url %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>